@import url(./base.css);

body {
  display: flex;
  flex-direction: column;
}

header {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

nav menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  min-height: calc(100vh - 14rem);
  gap: 1rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  min-height: 1rem;
}

@media (min-width: 760px) {
  body {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 5rem 1fr 1rem;
    grid-template-areas:
      "header header"
      "categorias producto"
      "pie pie";
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
    grid-area: header;
  }

  nav[aria-label="categorias"] {
    grid-area: categorias;
  }

  nav[aria-label="categorias"] menu {
    display: flex;
    flex-direction: column;
    grid-area: categorias;
    gap: 0px;
  }
  main {
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
  }

  footer {
    grid-area: pie;
  }
}
